---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: librechat
  namespace: {{ .Values.namespace }}
spec:
  port:
    targetPort: http
  tls:
    termination: edge
    insecureEdgeTerminationPolicy: Redirect
  to:
    kind: Service
    name: librechat
    weight: 100
  wildcardPolicy: None
